/* For Fonts */
.work-sans-normal {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

/* First Navigation Bar */
.first-navigation-bar{
    display: flex;
    justify-content: space-between;
    padding-left: 160px;
    padding-right: 160px;
    padding-top: 24px;
    align-items: center;
}
.first-title{
    font-weight: bold;
    font-size: 30px;
    color: #0E0E0E;
}
.sign-in-button{
    width: 108px;
    height: 45px;
    padding: 15px 30px 15px 30px;
    border-radius: 8px;
    opacity: 100%;
    color: #006A50;
    border-color: #006A50;
}

/* First Banner */
.first-banner{
    width: 1200px;
    height: 550px;
    border-radius: 24px;
    background-color: #C6E4D6;
    margin-right: 190px;
    margin-left: 160px;
    /* margin: auto; */
}
.heading{
    font-size: medium;
    font-weight: 24px;
    color: #0E0E0E;
    width: 662px;
    height: 29px;
}
.second-heading{
    font-size: 50px;
    color: #0E0E0E;
}
.first-banner-section{
   display: flex;
   justify-content:center;
   padding-left: 100px;
   padding-right: 100px;
   padding-top:80px;
   padding-bottom: 80px;
   /* margin-top: 117px; */
   margin-bottom: 117px;
   margin-left: 58px;
}
.first-banner-button{
    background-color: #006A50;
    color: #FFFFFF;
    border-radius: 8px;
    width: 260px;
    height: 53px;
    font-weight: semiBold;
    font-size: 18px;
}
/* Second page starting */
.second-page-heading{
    font-weight: bold;
    font-size: 37px;
}
.second-page-parent{
    display: flex;
    justify-content: space-around;
    gap: 30px;
    
}
.third-page-header{
    font-weight: bold;
    font-size: 37px;
}
.third-page-paragraph{
    padding-top: 18px;
    font-weight: regular;
    font-size: 16px;
}
/* Third page box one */
.box-one{
    width: 400px;
    height: 320px;
    background-color:#C0D8FB;
    border-radius: 16px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 32px;
    padding-bottom: 32px;
}
.heading{
    font-weight: bold;
    font-size: 20px;
}
.box-one-btn{
    width: 122px;
    height: 41px;
    background-color: #5490F5 ;
    color: white;
    
}

/* third page box two */
.box-two{
    width: 400px;
    height: 320px;
    background-color:#A9E7CA ;
    border-radius: 16px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 32px;
    padding-bottom: 32px;
}
.heading{
    font-weight: bold;
    font-size: 20px;
}
.box-two-btn{
    width: 122px;
    height: 41px;
    background-color: #09A15C ;
    color: white;
    
}
/* third page box three */
.box-three{
    width: 400px;
    height: 320px;
    background-color:#FAF2E1 ;
    border-radius: 16px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 32px;
    padding-bottom: 32px;
}
.heading{
    font-weight: bold;
    font-size: 20px;
}
.box-three-btn{
    width: 122px;
    height: 41px;
    background-color: #FFC239 ;
    color: white;
}
.third-page-box-parent{
        display: flex;
        justify-content: space-around;
        gap: 24px;
}
.sub-heading-yunus{
    color:#505050 ;
    font-weight: regular;
    font-size: 16px;
}
.DR-younus-paragraph{
    width: 1280px;
    height: 256px;
    border: gray;
    
}

